@using HyosungMotor.Content.Texts

@{
	ViewBag.Title = "Home Page";
	Layout = null;
}

<style type="text/css">
	.card-product {
		width: 100% !important;
	}

	.card-img-custom {
		width: 100%;
		border-radius: calc(2rem - 25px);
	}

	.card-blog-custom {
		margin: 0
	}

	.div-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 160px;
		background-color: #000;
		opacity: .5;
		overflow: hidden;
		color: #fff !important;
		padding: 0 10px;
	}

	.product-item {
		border-bottom: 1px solid #dee2e6;
	}

	.modal-content {
		position: relative;
		background-color: #ffffff !important;
		border: 1px solid #999999;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 2px !important;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		background-clip: padding-box;
		outline: 0;
	}

	.modal-header {
		padding: 15px !important;
		border-bottom: 1px solid #e5e5e5 !important;
		min-height: 16.846153846px;
	}

	.table th, .table td {
		padding: 5px;
	}

	.button-tab {
		width:100%;
		border-radius:0 !important;
	}
	.no-margin {
		margin:0 !important;
	}
	.btn-active {
		background-color: #505cfd !important;
		color:white !important;
	}
</style>

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hyosung Motor</title>
	<link rel="shortcut icon" type="image/ico" href="~/wwwroot/images/favicon.png">
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	<link rel="stylesheet" href="~/wwwroot/flexpack/plugins/flickity/flickity.min.css">
	<link rel="stylesheet" href="~/wwwroot/flexpack/plugins/fullpagejs/dist/fullpage.min.css">
	<link href="~/wwwroot/assets/aos-master/aos.css" rel="stylesheet" />
	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/wwwroot/flexpack/css/flexpack-blue.min.css">
	<link href="~/wwwroot/admin-side/css/custom-css.css" rel="stylesheet" />

	<link href="~/wwwroot/assets/flag-icon-css-master/flag-icon.min.css" rel="stylesheet" />

	@*<link href="~/wwwroot/flexpack/css/flexpack-blue.css" rel="stylesheet" />
		<link href="~/wwwroot/flexpack/css/flexpack-orange.css" rel="stylesheet" />
		<link href="~/wwwroot/flexpack/css/flexpack.css" rel="stylesheet" />*@
	<title>FlexPack - Product Landing Page</title>
</head>
<body data-spy="scroll" data-target=".navbar">

	<!-- NAVBAR
	================================================== -->
	<!-- NAVBAR
	================================================== -->
	<nav class="navbar navbar-product navbar-expand-lg navbar-light fixed-top">
		<div class="container">

			<!-- Navbar: Brand -->
			<a class="navbar-brand" href="product.html">
				<img src="~/wwwroot/images/hyosung-motor.png" style="width: 330px" />
			</a>

			<!-- Toggle -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar: Collapse -->
			<div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#page-top">@rHome.Home</a>
					</li>
					@*<li class="nav-item">
			<a class="nav-link" href="#section-about">About</a>
		</li>*@
					<li class="nav-item">
						<a class="nav-link" href="#section-news">@rHome.News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-product">@rHome.Products</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#section-contact">@rHome.Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-inquiry">@rHome.Inquiry</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://www.hyosung.com/en/about/introduction.do" target="_blank">Hyosung Group</a>
					</li>
				</ul>

				<!-- Social icons -->
				<ul class="list list-inline justify-content-end d-lg-none">
					<li class="list-inline-item"><a href="#"><i class="flag-icon flag-icon-us"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="flag-icon flag-icon-kr"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="flag-icon flag-icon-vn"></i></a></li>
				</ul>
			</div>

			<!-- Social icons -->
			<ul class="list list-inline justify-content-end d-none d-lg-flex">
				<li class="list-inline-item">

					<!-- link -->
					<a href="#" data-lang="en-US" class="setLang">
						<i class="flag-icon flag-icon-us"></i>
					</a>

				</li>
				<li class="list-inline-item">

					<!-- link -->
					<a href="#" data-lang="ko-KR" class="setLang">
						<i class="flag-icon flag-icon-kr"></i>
					</a>

				</li>
				<li class="list-inline-item">

					<!-- link -->
					<a href="#" data-lang="vi-VN" class="setLang">
						<i class="flag-icon flag-icon-vn"></i>
					</a>

				</li>
			</ul>

		</div> <!-- / .container -->
	</nav> <!-- / .navbar -->
	<!-- PRELOADER
	================================================== -->
	<div id="preloader">
		<div id="status">
			<div class="sk-spinner sk-spinner-double-bounce">
				<div class="sk-double-bounce1"></div>
				<div class="sk-double-bounce2"></div>
			</div>
		</div>
	</div>

	<!-- BACK TO TOP BUTTON
	================================================== -->
	<a id="back-to-top" href="#page-top" class="link-social link-social-circle mb-0" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">

		<!-- icon -->
		<i class="fas fa-arrow-up"></i>

	</a>

	<!-- HOME
	================================================== -->
	<section class="" id="page-top">
		<!-- Background slider -->
		<div class="bg-slider">

			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					@*<img src="~/wwwroot/flexpack/img/slider_1.jpg" alt="...">*@
					<img src="~/wwwroot/flexpack/custom-img/mixed-gears-1530611417Ndv.jpg" />
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content">

								<!-- Heading -->
								<h1 class="mt-3">
									Powerful and Easy to Use Flexible Package
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Build your own project</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								@*<!-- button -->
									<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
									<!-- button -->
									<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>*@
							</div> <!-- .content -->
						</div>
						<div class="col-md-12 col-lg-6">

							<!-- image -->
							@*<img src=""~/wwwroot/flexpack/img/image_home.png" class="img-fluid" alt="...">*@
							@*<img src="~/wwwroot/flexpack/custom-img/motor-1.jpg" />*@
							@*<img src="~/wwwroot/flexpack/custom-img/motor-3.jpg" />*@
							@*<img style="opacity:0.6" src="~/wwwroot/flexpack/custom-img/motor-3-edit-shadow.png" />*@
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					@*<img src="~/wwwroot/flexpack/img/slider_2.jpg" alt="...">*@
					<img src="~/wwwroot/flexpack/custom-img/mixed-gears-1530612278xXa.jpg" />
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>

				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content">

								<!-- Heading -->
								<h1 class="mt-3">
									Several landing pages ready to use
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Use ready-made pages</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								@*<!-- button -->
									<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
									<!-- button -->
									<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>*@
							</div> <!-- .content -->
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					<img src="~/wwwroot/flexpack/img/slider_3.jpg" alt="...">
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>

				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content">

								<!-- Heading -->
								<h1 class="mt-3">
									Different navbars and footer designed
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Choose what you like</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								@*<!-- button -->
									<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
									<!-- button -->
									<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>*@
							</div> <!-- .content -->
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
		</div> <!-- .bg-slider -->

	</section> <!-- .section -->
	<!-- NEWS
		================================================== -->
	<section class="section bg-light" id="section-news">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-sm-12 col-lg-8 col-xl-6">
					<!-- title -->
					<h2>News</h2>
					<!-- subtitle -->
					<p class="subtitle"># read and learn</p>
				</div>
			</div> <!-- .row -->

			<div class="row justify-content-center" id="divContentNews">
			</div>
		</div>
	</section> <!-- .section -->
	<!-- END NEWs .section -->
	<!-- PRODUCT
	================================================== -->
	<section class="section section_product" id="section-product">

		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-sm-12 col-lg-8 col-xl-6">

					<!-- title -->
					<h2>
						Hyosung Electric Motor
					</h2>

					<!-- subtitle -->
					<p class="subtitle"># Find your product</p>

				</div>
			</div> <!-- .row -->
			<div class="row align-items-center justify-content-between product-item">
				<div class="col-sm-12 col-lg-6 col-xl-5" data-aos="flip-left">

					<!-- image -->
					<img style="width:100%" src="~/wwwroot/flexpack/custom-img/products/Standard motor.jpg" />
				</div>
				<div class="col-sm-12 col-lg-6 col-xl-5 mt-5 mt-md-0 text-center-small" data-aos="flip-right">

					<!-- title -->
					<h3>
						Standard Motors
					</h3>

					<!-- subtitle -->
					<p class="subtitle"># Two words about Motor</p>

					<!-- description -->
					<p class="data-content-text">380V</p>
					<p class="data-content-text">50Hz</p>
					<p class="data-content-text">IE1, IE2, IE3</p>

					<!-- button -->
					<button class="btn btn-default mt-3" type="button" id="btnStandardMotor">Technical Data</button>

				</div>
			</div> <!-- .row -->
			<div class="row align-items-center justify-content-between product-item">
				<div class="col-sm-12 col-lg-6 col-xl-5" data-aos="flip-left">

					<!-- image -->
					<img style="width:67%" src="~/wwwroot/flexpack/custom-img/products/60Hz motor.jpg" />
				</div>
				<div class="col-sm-12 col-lg-6 col-xl-5 mt-5 mt-md-0 text-center-small" data-aos="flip-right">

					<!-- title -->
					<h3>60Hz Motors</h3>

					<!-- subtitle -->
					<p class="subtitle"># Two words about Motor</p>

					<!-- description -->
					<p class="data-content-text">380V, 440V</p>
					<p class="data-content-text">60Hz, KS, JIS Standard</p>
					<p class="data-content-text">IE3</p>
					<!-- button -->
					<button class="btn btn-default mt-3" type="button" id="btn60HzMotor">Technical Data</button>

				</div>
			</div> <!-- .row -->
			<div class="row align-items-center justify-content-between product-item">
				<div class="col-sm-12 col-lg-6 col-xl-5" data-aos="flip-left">

					<!-- image -->
					<img style="width:100%" src="~/wwwroot/flexpack/custom-img/products/geared motor.jpg" />
				</div>
				<div class="col-sm-12 col-lg-6 col-xl-5 mt-5 mt-md-0 text-center-small" data-aos="flip-right">

					<!-- title -->
					<h3>
						Geared Motors
					</h3>

					<!-- subtitle -->
					<p class="subtitle"># Two words about Motor</p>

					<!-- description -->
					<p class="data-content-text">380V, 440V</p>
					<p class="data-content-text">60Hz</p>
					<p class="data-content-text">IE3</p>
					<!-- button -->
					<button id="btnGearMotor" class="btn btn-default mt-3" type="button">Technical Data</button>

				</div>
			</div> <!-- .row -->
			<div class="row align-items-center justify-content-between product-item">
				<div class="col-sm-12 col-lg-6 col-xl-5" data-aos="flip-left">

					<!-- image -->
					<img style="width:100%" src="~/wwwroot/flexpack/custom-img/products/MV motor.jpg" />
				</div>
				<div class="col-sm-12 col-lg-6 col-xl-5 mt-5 mt-md-0 text-center-small" data-aos="flip-right">

					<!-- title -->
					<h3>
						MV & HV Motors
					</h3>

					<!-- subtitle -->
					<p class="subtitle"># Two words about Motor</p>

					<!-- description -->
					<p class="data-content-text">Various industries such as Power Plant, Oil & Gas, Petrochemical, Desalination, Ship, Steel, etc.</p>
					<!-- button -->
					<button id="btnMvMotor" class="btn btn-default mt-3" type="button">Technical Data</button>

				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
		<div class="container-fluid px-0">
			<div class="row no-gutters">
			</div>

		</div> <!-- .container-fluid -->

	</section>

	<!-- CONTACT
	================================================== -->
	<section class="section_about bg-light" id="section-contact">
		<div class="container-fluid px-0">
			<div class="row">
				<div class="col-12 col-md-4" data-aos="fade-down">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-map-marker fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							Hyosung Motor Factory
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
				<div class="col-12 col-md-4" data-aos="fade-up">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-phone fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							LET'S TALK
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
				<div class="col-12 col-md-4" data-aos="fade-down">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-envelope fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							E-MAIL US
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-4" data-aos="fade-down">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-map-marker fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							Hyosung Motor Ho Chi Minh
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
				<div class="col-12 col-md-4" data-aos="fade-up">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-phone fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							LET'S TALK
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
				<div class="col-12 col-md-4" data-aos="fade-down">

					<div class="text-center my-4">

						<!-- Icon -->
						<i class="text-secondary fa fa-envelope fa-2x"></i>

						<!-- Heading -->
						<h5 class="mb-3">
							E-MAIL US
						</h5>

						<!-- Content -->
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, consequuntur quis accusantium exercitationem adipisci vitae eaque labore.
						</p>

					</div>

				</div>
			</div>
		</div> <!-- #section-contact-->
	</section>

	<!-- INQUIRY
	================================================== -->
	<section class="section_contact " id="section-inquiry">
		<div class="container-fluid px-0">
			<div class="row no-gutters justify-content-center">
				<div class="col-12 col-md-6 px-3 py-5 p-sm-6">

					<div class="half-item d-flex flex-column justify-content-center h-100">

						<!-- title -->
						<h2>Get in touch</h2>

						<!-- text -->
						<p>Don't hesistate to contact us if you have any questions about our products. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facilis possimus quo cum delectus.</p>

						<!-- Contact form -->
						<form class="contact_form" id="contact_form">

							<div class="form-group">
								<label for="contact__form__name" class="sr-only">Full name</label>
								<input type="text" class="form-control" id="contact__form__name" name="contact__form__name" placeholder="Full name">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group">
								<label for="contact__form__email" class="sr-only">Phone Number</label>
								<input type="tel" class="form-control" id="contact__form__email" name="contact__form__email" placeholder="Phone Number">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group">
								<label for="contact__form__email" class="sr-only">E-mail address</label>
								<input type="email" class="form-control" id="contact__form__email" name="contact__form__email" placeholder="E-mail address">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group">
								<label for="contact__form__message" class="sr-only">Message</label>
								<textarea class="form-control" id="contact__form__message" name="contact__form__message" rows="3" placeholder="Message"></textarea>
								<div class="invalid-feedback"></div>
							</div>

							<button type="submit" class="btn btn-primary">
								Send message
							</button>

						</form>

					</div> <!-- .half-item -->

				</div>


			</div> <!-- .row -->
		</div> <!-- .container-fluid -->
	</section> <!-- .section-contact -->
	<!-- FOOTER
	================================================== -->
	<!-- Footer
	================================================== -->

	<footer class="footer bg-dark">
		<div class="container">

			<div class="row footer-copyright py-4">
				<div class="col-xs-12 col-sm-6">

					<!-- copyright text -->
					<p class="mb-3 mb-sm-0">COPYRIGHT© 2019 HYOSUNG. ALL RIGHTS RESERVED.</p>


				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</footer>

	<script id="tmlContentNews" type="x-tmpl-mustache">

		<div class="col-12 col-sm-12 col-md-6" data-aos="zoom-in-right">
			<div class="card card-blog-custom">
				<div class="">
					<!-- background image -->
					<img class="card-img-custom" src="{{Thumbnail}}" />
				</div>
				<!-- overlay content -->
				<div class="">
					<!-- title -->
					<!-- category -->
					<p class="subtitle">
						<a href="#" class="text-secondary"># New</a>
					</p>

					<!-- title -->
					<h3>
						<a href="javascript:void(0);" data-id="{{Id}}" class="btnNewsTitle">{{Title}}</a>
					</h3>

					<!-- date -->
					<p class="blog-slider-item-subtitle text-muted subtitle">{{DateCreated}}</p>
					<div class="card-img-overlay-desc">
						<!-- text -->
						{{Description}}
					</div> <!-- .card-img-overlay-desc -->

				</div> <!-- .card-img-overlay -->
			</div>
		</div>

	</script>


	@Html.Partial("~/Views/Home/_StandardMotor.cshtml")
	@Html.Partial("~/Views/Home/_60HzMotor.cshtml")
	@Html.Partial("~/Views/Home/_GearedMotor.cshtml")
	@Html.Partial("~/Views/Home/_MvMotor.cshtml")
	@Html.Partial("~/Views/Home/_News.cshtml")
	<!-- JAVASCRIPT
	================================================== -->
	<!-- Global JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


	<!-- Plugins JS -->
	<script src="~/wwwroot/flexpack/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/feather/feather.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/contact/contact.js"></script>
	<script src="~/wwwroot/flexpack/plugins/countTo/jquery.countTo.js"></script>
	<script src="~/wwwroot/flexpack/plugins/countdown/jquery.countdown.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/parallax/parallax.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/fullpagejs/vendors/scrolloverflow.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/fullpagejs/dist/fullpage.min.js"></script>

	<!-- Theme JS -->
	<script src="~/wwwroot/flexpack/js/theme.min.js"></script>

	<!-- div transform -->
	<script src="~/wwwroot/assets/aos-master/aos.js"></script>

	<!-- Template and paging -->
	<script src="~/wwwroot/assets/mustache.js-master/mustache.js"></script>
	<script src="~/wwwroot/assets/twbs-pagination-master/jquery.twbsPagination.js"></script>

	<script src="~/wwwroot/app/shared/common.js"></script>
	<script src="~/wwwroot/app/shared/constants.js"></script>
	<script src="~/wwwroot/client-app/controller/home/index.js"></script>
	<script>
		var homeObj = new homeController();
		homeObj.initialize();
	</script>


</body>
</html>